.navbar{
  height: 50px;
  border-bottom: 1px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  
  .wrapper{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search{
      display: flex;
      align-items: center;
      border: 1px solid lightgray;
      border-radius: 3px;
      padding: 3px;
      cursor: pointer;

      input{
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder{
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      cursor: pointer;

      .item{
        display: flex;
        align-items: center;
        margin-right: 15px;
        position: relative;

        .icon{
          font-size: 20px;
        }

        .avatar{
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        .counter{
          width: 13px;
          height: 13px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 8px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;

        }
      }
    }
  }
}
