* {
  margin: 0;
  padding: 0;
  font-family: Pregular, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  font-family: pmedium;
}

:root {
  --grey-95: hsl(0, 0%, 95%);
  --grey-40: hsl(0, 0%, 40%);
  --grey-30: hsl(0, 0%, 30%);
  --grey-20: hsl(0, 0%, 20%);
}

.outlet::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Pbold;
  src: url("./assets/Font/Poppins-Bold.ttf");
}

@font-face {
  font-family: Pmedium;
  src: url("./assets/Font/Poppins-Medium.ttf");
}

@font-face {
  font-family: Pregular;
  src: url("./assets/Font/Poppins-Regular.ttf");
}

.home-card:nth-child(1) {
  background-color: hsl(240, 100%, 50%);
}

.home-card:nth-child(1) .link-div {
  background-color: hsl(240, 100%, 40%);
}

.home-card:nth-child(2) {
  background-color: hsl(39, 100%, 50%);
}

.home-card:nth-child(2) .link-div {
  background-color: hsl(39, 100%, 40%);
}

.home-card:nth-child(3) {
  background-color: hsl(0, 100%, 50%);
}

.home-card:nth-child(3) .link-div {
  background-color: hsl(0, 100%, 40%);
}

.home-card:nth-child(4) {
  background-color: hsl(120, 100%, 40%);
}

.home-card:nth-child(4) .link-div {
  background-color: hsl(120, 100%, 30%);
}

.home-chart-a::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 576px) {
  .sm-nav {
    width: auto;
  }
  .home-card {
    margin-bottom: 1rem;
  }
}

.text-break-all {
  word-break: break-all;
}

.responsive-container {
  max-width: 1440px;
  margin: 0 auto;
}

.sidebar {
  background-color: var(--grey-30) !important;
  min-height: 100vh;
}

.sidebar .div-link:hover {
  background-color: var(--grey-20) !important;
}

.avatar {
  max-width: 75% !important;
}

.head {
  font-size: 50px;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.img-404 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mini-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.product-card {
  background-color: var(--grey-95);
}

.pie {
  max-width: 70%;
}
@media (max-width: 767px) {
  .avatar {
    display: none;
  }
}

.sidebar .logo {
  max-width: 150px;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .sidebar .logo {
    max-width: 120px;
  }

  .product-card {
    width: 49% !important;
  }
}

@media only screen and (min-width: 768px) {
  .product-card {
    width: 32.5% !important;
  }

  .home-chart-a {
    width: calc(66.666667% - 0.5rem) !important;
  }

  .home-chart-b {
    width: calc(33.3333333% - 0.5rem) !important;
  }

  .pie {
    max-width: 95% !important;
  }
}

@media only screen and (min-width: 576px) {
  .home-card {
    max-width: calc(50% - 0.5rem) !important;
    margin-bottom: 1rem;
  }

  .pie {
    max-width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .home-card {
    max-width: calc(25% - 0.5rem) !important;
    margin-bottom: 1rem;
  }
}
