* {
  margin: 0;
  padding: 0;
  font-family: Pregular, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  font-family: pmedium;
}

:root {
  --grey-40: hsl(0, 0%, 40%);
  --grey-30: hsl(0, 0%, 30%);
  --grey-20: hsl(0, 0%, 20%);
}

.outlet::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Pbold;
  src: url("./assets/Font/Poppins-Bold.ttf");
}

@font-face {
  font-family: Pmedium;
  src: url("./assets/Font/Poppins-Medium.ttf");
}

@font-face {
  font-family: Pregular;
  src: url("./assets/Font/Poppins-Regular.ttf");
}

@media only screen and (max-width: 576px) {
  .sm-nav {
    width: auto;
  }
}

.sidebar {
  background-color: var(--grey-30) !important;
  min-height: 100vh;
}

.sidebar .div-link:hover {
  background-color: var(--grey-20) !important;
}

.sidebar .logo {
  max-width: 150px;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .sidebar .logo {
    max-width: 120px;
  }
}
